@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Poppins:wght@800&family=Ubuntu:wght@500&display=swap');

html,
body {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.title {
 position: absolute;
 top: 10vh;
 font-family: 'Poppins';
 color: #FFFFFF;
 text-shadow: 0 0 10px #000;
}

.description {
 margin: 2vw;
 font-size: 2vw;
 text-align: center;
 position: absolute;
 top: 13vh;
 font-family: 'Fira Sans';
 color: #FFFFFF;
 text-shadow: 0 0 10px #000;
}

@keyframes rotatemovement {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

.rotate {
 animation: rotatemovement 0.5s linear;
}

.icon1 {
 background: #000000;
 border-radius: 100vw;
 padding: 10px;
 color: #FFFFFF;
 font-size: 10vw;
}

.colorcode {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 2vh;
 width: 40vw;
 height: 6vh;
 background-color: #000000;
 border-radius: 2vw;
 color: #FFFFFF;
 font-size: 4vw;
 text-transform: uppercase;
 font-family: 'Ubuntu';
  transition: all ease 0.5s;
}

.colors {
 margin-top: 2vh;
}

#red,
#green,
#blue {
 background: #000000;
 padding: 1vw;
 border-radius: 2vw;
 transition: all ease 0.5s;
 font-family: 'Ubuntu';
}

#red {
 color: red;
}

#red:active {
 background: red;
 color: white;
}

#green {
 color: lightgreen;
}

#green:active {
 background: rgb(51, 170, 51);
 color: white;
}

#blue {
 color: blue;
}

#blue:active {
 background: blue;
 color: white;
}

.rgbcode {
 margin-top: 2vh;
 background: #000000;
 color: #ffffff;
 padding: 2vw;
 border-radius: 2vw;
 transition: all ease 0.5s;
 font-family: 'Ubuntu';
}

.rgbcode:active {
 background: white;
 color: black;
}